.videos-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100vw;

  .video-card {
    margin: 10px;
    padding: 20px;
    background: white;
    box-shadow: 0 1px 4px #cecece;
    border-radius: 4px;
    width: calc(100% - 80px);
    height: auto;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .thumbnail {
      width: 100%;
      height: 180px;
      margin-bottom: 10px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .info {
      text-align: left;
      word-wrap: break-word;
      white-space: pre-wrap;

      h1 {
        font-size: 26px;
      }
      span {
        display: flex;
        align-items: center;

        img {
          margin-right: 5px;
        }
        h3 {
          font-size: 20px;
          font-weight: normal;
          padding: 15px 0;
        }
      }
      p {
        font-size: 16px;
      }
    }
    button {
      background: #00ce7a;
      border-radius: 4px;
      margin: 20px 0 0;
      padding: 0 20px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      box-shadow: 0 1px 4px #cecece;
      cursor: pointer;
      color: white;
      font-weight: bold;
      font-size: 14px;
      width: fit-content;
    }
  }
}
