.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  header {
    background: #d81b60;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    color: white;
    button {
      margin: 0 20px;
      width: 35px;
      height: 35px;
      background: none;
      border: 2px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.8;
      transition: all 200ms;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
    h1 {
      font-size: 26px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .video-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .video-container {
      width: 100%;
      background: #000;
      display: flex;
      justify-content: center;

      .thumbnail {
        width: 100%;
        max-width: 830px;
        min-height: 220px;
        height: 50vw;
        max-height: 420px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.5);
        }
        &.no-before::before {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        button {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          background: none;
          width: 35px;
          height: 35px;
          border: 2px solid #fff;
          cursor: pointer;
        }
      }
    }
    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;
      background: rgba(238, 238, 238, 0.8);
      border-bottom: 1px solid #cecece;
      width: 100%;

      .channel {
        display: flex;
        img {
          margin-left: 20px;
        }
        h3 {
          margin-left: 5px;
          font-size: 18px;
          font-weight: normal;
          padding: 10px 0;
          margin-right: 20px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .rating {
        display: flex;
        margin-right: 20px;
        span {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 5px;
          border-right: 1px solid #cecece;

          &:last-child {
            border-right: none;
          }
          img {
            margin-bottom: 5px;
            width: 20px;
            height: 20px;
            opacity: 0.7;
          }
        }
      }
    }
    .description {
      padding: 20px 0;
      width: 100%;
      word-wrap: break-word;
      white-space: pre-wrap;
      p {
        text-align: left;
        font-size: 16px;
        padding: 0 20px;
      }
      border-bottom: 1px solid #cecece;
    }
    .views {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 20px 0;

      img {
        margin-right: 10px;
      }
    }
  }
  .loading {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
    }
    p {
      margin: 20px 0;
      font-size: 20px;
    }
  }
}
