.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 500ms;
  position: relative;

  header {
    margin: 0 0 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 800ms;

    &.searched {
      top: 0;
      transform: translateY(0);
      position: fixed;
      height: 60px;
      background: #d81b60;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    }

    .logo {
      position: absolute;
      top: -100px;
      transition: all 500ms;
      opacity: 1;
      img {
        width: auto;
        height: 70px;
      }

      &.searched {
        opacity: 0;
      }
    }

    .search-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 40px);
      max-width: 590px;
      height: 50px;
      background: white;
      border: 1px solid #cecece;
      border-radius: 4px;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
      transition: all 800ms;

      &.searched {
        height: 45px;
        box-shadow: none;
        border: none;
      }

      input {
        margin-left: 20px;
        border: none;
        font-size: 18px;
        flex: 1;
      }

      button {
        margin-right: 10px;
        border: none;
        background: none;
        opacity: 0.5;
        cursor: pointer;
        transition: all 200ms;
        display: flex;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .results {
    margin-top: 70px;
  }
}

//Animations
.results-container-enter {
  transform: translateY(30px);
  opacity: 0;
}
.results-container-enter-to {
  transform: translateY(0);
  opacity: 1;
}
.results-container-enter-active {
  transition: all 800ms 700ms;
}
